* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: /* Cambria,  */Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
}