@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Alkalami&family=Open+Sans&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
  --PADDING: 0.75rem;
}

/* || GENERAL STYLES */
body {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
}

header {
  display: flex;
  flex-flow: row nowrap;
  gap: 2.25rem;
  justify-content: center;
  align-items: center;
}

/* || BLOCKS */
/* aka components */

.btn {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid #000;
  background-color: rgb(219, 218, 218);
  display: inline;
}

/* || MODIFIERS */
/* incremental style changes */

/* Blocks with modifiers */
.btn--secondary {
  background-color: yellow;
}

.btn--lean {
  transform: skewX(-10deg);
}

.btn--border-lg {
  border: 5px solid rgb(80, 66, 66);
}


