@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Alkalami&family=Open+Sans&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
  --PADDING: 0.75rem;
}

/* || GENERAL STYLES */
body {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

}
button {
  font-size: 2rem;
}

/* || BLOCKS */
/* aka components */

.header {
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* Does not represent structure, not header__nav__btn */

.header__btn {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

/* || MODIFIERS */
/* incremental style changes */

/* Blocks with modifiers */
.header__btn--secondary {
  background-color: yellow;
}

.header__btn--lean {
  transform: skewX(-10deg);
}

.header__btn--border-lg {
  border: 5px solid whitesmoke;
}


