body {
  padding: 10%;
  font-size: 2rem;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-style: italic;
}

a {
  font-style: normal;
  text-decoration: none;
  color: blue;
}

a:visited {
  color: darkgoldenrod;
}

a:hover, a:focus {
  text-decoration: underline;
  color: darkblue;
}

a:active {
  color: red;
}